.img-responsive {
    margin: 0 auto;
}

/*body {
  padding-top: 50px;
}
*/

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

body {
        background: #292929;
  		padding-top: 50px;
    }
#mission{
	background-color: #1C1829;
	background-size: cover;
	height: 50vh;
	padding: 40px 15px;
	text-align: center;
}
#stats{
	background-color: #071426;
	background-size: cover;
}
#interests{
	background-color: #1C1829;
	background-size: cover;
	padding: 40px 15px;
	text-align: left;
}
#experience{
	background-color: #071426;
	background-size: cover;
	padding: 40px 15px;
	text-align: left;
}
#contact {
	background-color: #1C1829;
	background-size: cover;
	height: 100vh;
	padding: 40px 15px;
	text-align: center;
}
